body {
  font-family: barlow;
}
header {
  display: flex;
  justify-content: space-between;
}
.banner {
  display: flex;
  padding: auto;
  justify-content: space-evenly;
}
.logo {
  background-color: rgb(174, 174, 236);
}
.home {
  background-color: rgb(67, 104, 144);
}
.services {
  background-color: rgb(0, 174, 255);
}
.contact {
  background-color: rgb(27, 154, 166);
}
.nav {
  display: flex;
  justify-content: flex-end;
}
main {
  background-color: blanchedalmond;
  height: 60vh;
}
.copyright {
  font-size: 8px;
  font-weight: 500;
}
