body {
  font-family: barlow;
}
header {
  justify-content: space-between;
}
.banner {
  display: inline-block;
  padding: auto;
  justify-content: space-between;
}
.logo {
  background-color: blue;
  padding-right: 20px;
}
.home {
  background-color: rgb(0, 123, 255);
  padding-right: 20px;
}
