body {
  font-family: barlow;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner {
  display: flex;
  padding: auto;
  justify-content: space-evenly;
}
.logo {
  background-color: rgb(38, 94, 140);
  padding: 0 16px;
}
.home {
  background-color: rgb(68, 104, 144);
  padding: 0 16px;
}
.services {
  background-color: rgb(58, 114, 148);
  padding: 0 16px;
}
.contact {
  background-color: rgb(48, 124, 152);
  padding: 0 16px;
}
.nav {
  display: flex;
  justify-content: flex-end;
}
main {
  background-color: rgb(230, 215, 200);
  height: 60vh;
}
.pic1 {
  width: 100vw;
  opacity: 0.5;
}

footer {
  background-color: rgb(250, 220, 190);
  padding: 16px 0;
  border: 1px dotted rgb(230, 8, 230);
}
.copyright {
  font-size: 10px;
  font-weight: 500;
}
.pic2 {
  max-width: 250px;
  object-fit: cover;
  margin-bottom: 0;
  padding-bottom: 0;
}
.tyre {
  margin: 0;
  font-size: 5px;
  padding: 0;
  opacity: 0.75;
}
.fset1 {
  border-color: rgb(62, 114, 96);
  background-color: rgb(240, 245, 215);
}
.fset2 {
  border-color: steelblue;
  background-color: rgb(212, 231, 246);
}
.container {
  display: flexbox;
  max-width: 50%;
  padding-left: 200px;
}
.item {
  display: inline-block;

  justify-content: center;
  border: 3px solid black;
  margin: 20px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 5px 10px 6px rgba(9, 9, 9, 0.5);
}
.item-1 {
  background-color: rgb(0, 255, 255);
}
.item-2 {
  background-color: rgb(10, 245, 245);
}
.item-3 {
  background-color: rgb(20, 255, 255);
}
.item-4 {
  background-color: rgb(30, 255, 255);
}
.item-5 {
  background-color: rgb(40, 255, 255);
}
.item-6 {
  background-color: rgb(50, 255, 255);
}
.item-7 {
  background-color: rgb(60, 255, 255);
}
.item-8 {
  background-color: rgb(70, 255, 255);
}
.item-9 {
  background-color: rgb(80, 255, 255);
}
